@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&family=Russo+One&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: Lora;
  font-size: 12px;
  background-color: #f5f5f5;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.body {
  height: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.sidebar {
  max-width: 20%;
  min-width: 20%;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar__logo {
  margin: 20px 0;
}

.menu__logo {
  font-family: "Russo One";
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-decoration: none;
}

.sidebar__list-header {
  text-transform: capitalize;
  font-size: 20px;
  margin: 0.75rem 0;
  font-weight: bold;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative;
  align-self: start;
  margin-left: 10px;
}

.sidebar__list-header-button {
  background-color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  cursor: pointer;
}

.sidebar__list {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transition: all ease 0.3s;
}
.sidebar__list.active {
  opacity: 1;
  height: auto;
}

.sidebar__list-line {
  height: 100%;
  border-right: 2px solid rgba(63, 106, 216, 0.4431372549);
  padding-left: 20px;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 85%;
}

.sidebar__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar__button {
  border: none;
  border-radius: 6px;
  width: 90%;
  background: none;
  text-align: start;
  margin-left: 10px;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
}
.sidebar__button.active, .sidebar__button:hover {
  color: #3f6ad8;
  background-color: #e0f3ff;
}

.content {
  flex: 1 1 auto;
  overflow: scroll;
}

.table {
  margin: 20px 0;
  width: 90%;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #eaeaea;
}

.table thead {
  padding: 10px;
  font-size: 18px;
  text-align: start;
  background-color: #fff;
  border-bottom: 1px solid #000000;
}
.table thead > tr {
  border-bottom: outset;
}
.table thead > th.id {
  text-align: center;
}

.table th {
  padding: 10px 0 10px 10px;
}

.item td {
  text-align: start;
  vertical-align: middle;
  font-family: Roboto;
  font-size: 18px;
}
.item td.id {
  text-align: center;
  padding: 0;
}

th {
  vertical-align: middle;
  text-align: start;
}

td {
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
  padding: 0 0 0 10px;
}

tr:nth-child(even) {
  background-color: #fff;
}

.content__items {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.user-id {
  width: 1%;
}

.user-image {
  overflow: hidden;
  padding: 10px 0;
  height: 100px;
}

.user-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.comment-image {
  overflow: hidden;
  padding: 10px 0;
  height: 75px;
  width: 75px;
}

.comment-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.table-buttons button {
  width: 95%;
  display: block;
  margin: 5px auto;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  font-weight: 700;
}

.table-edit-button {
  background-color: #0ba23d;
}

.table-delete-button {
  background-color: rgb(212, 7, 7);
}

.work-information__form {
  width: 100%;
}

.edit-form {
  width: 95%;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  padding: 5px;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.status-button {
  width: 95%;
  display: block;
  margin: 5px auto;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  border: 0;
}
.status-button.visible {
  background-color: green;
}
.status-button.hide {
  background-color: red;
}
.status-button.in-proccess {
  background-color: #cbcb00;
}
.status-button:disabled {
  background-color: #aaaaaa;
  cursor: default;
}

.user-info-header {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 15px;
}

.user-info {
  display: flex;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto 0 auto;
  width: 95%;
  padding: 5px;
}

.user-image {
  width: 100px;
  height: 100px;
}

.user-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-info-item {
  font-size: 20px;
  max-width: 33%;
  overflow-wrap: break-word;
}

.work-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.work-user-container > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.work-user-container > span {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0 60px;
}

.pagination__item {
  float: left;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pagination__item.active {
  color: #ffffff;
  background-color: #9bb7d4;
  border-radius: 5px;
}

.pagination__item:hover:not(.active) {
  background-color: #dddddd;
  border-radius: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.active {
  display: block;
}

/* Modal Content */
.modal-content {
  background-color: #f5f5f5;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 6px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.comment__input {
  resize: none;
  height: 250px;
}

.user-information__edit {
  display: contents;
}

.user-image-edit {
  border-radius: 50%;
  object-fit: cover;
  width: 110px;
  height: 110px;
  position: relative;
}

.image-preview {
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.image-preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.user-set-image {
  position: absolute;
  bottom: 0;
  padding: 0;
  left: 0;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(8, 8, 8, 0.3843137255);
}
.user-set-image:hover {
  background-color: #000000;
}

.image-input {
  position: absolute;
  width: 30px;
  height: 30px;
  padding-left: 100px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.user-set-image img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  cursor: pointer;
}

.edit-lable {
  align-self: flex-start;
  font-size: 20px;
  margin-top: 10px;
}

.edit-input {
  width: 92%;
  margin-top: 10px;
  border: 1px solid #d8d7d7;
  border-radius: 6px;
  background: none;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Lora";
  outline: none;
}
.edit-input:focus {
  border-color: #6fc4e5;
}

.edit-success-field {
  width: 100%;
}

.success-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.success-item {
  font-size: 16px;
  color: #10af3d;
  margin: 20px 0 0;
}

.edit-choose-role {
  display: none;
}

.edit-choose-role.active {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 95%;
}
.edit-choose-role.active select {
  position: relative;
  width: 20%;
  font-size: 20px;
  border-radius: 6px;
  border-color: #d8d7d7;
  background-color: #fff;
}
.edit-choose-role.active option {
  font-size: 20px;
}
.edit-choose-role.active label {
  margin-left: -3%;
}

.edit-error-field {
  width: 100%;
}

.error-list {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  max-width: 270px;
}

.error-item {
  margin-top: 10px;
  color: red;
  font-size: 16px;
}

.edit-action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  width: 100%;
}

.edit-action-button {
  width: 100%;
  display: block;
  padding: 9px;
  color: #090909;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: none;
  background-color: rgba(25, 25, 25, 0.1803921569);
  transition: all 0.3s ease 0s;
}
.edit-action-button:hover {
  background-color: #000000;
  color: #fff;
}

.work-information__form {
  gap: 10px;
}

.work__image {
  align-items: center;
  width: 90%;
  padding: 5% 0;
  margin: 10px auto;
  font-size: 18px;
  color: #555555;
  text-align: center;
  background: #eeeeee;
  border: 5px dashed #cccccc;
  border-radius: 5px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.work__image.active {
  color: #111a87;
  border: 5px solid;
}

.image__field {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid #000000;
  border-radius: 6px;
  opacity: 1;
  width: 95%;
}

.selected-image {
  border-radius: 6px;
  overflow: hidden;
  height: 300px;
  width: 48%;
  position: relative;
}
.selected-image.logo {
  border: 2px solid #03f924;
  padding: 2px;
  height: 295px;
  width: 46%;
}
.selected-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.delete-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(238, 238, 238, 0);
  background-image: url(../images/remove.png);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all ease 0.1s;
}
.delete-image:hover {
  height: 35px;
  width: 35px;
  top: 7.5px;
  right: 7.5px;
}

.work__description {
  height: 200px;
  resize: none;
}

.tox.tox-tinymce {
  height: 600px;
  width: 95%;
}

.categories__add {
  margin-top: 20px;
  width: 90%;
}

.categories__header {
  font-size: 30px;
  font-family: "Lora";
  font-weight: 700;
}

.categories__form {
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 6px;
}

.category__label {
  font-size: 20px;
}

.category__input {
  flex: 1 1 auto;
  border: 1px solid #d8d7d7;
  border-radius: 6px;
  background: none;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Lora";
  outline: none;
}

.category__save {
  background-color: #0ba23d;
  border: none;
  border-radius: 6px;
  align-self: center;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
}

.input__block {
  align-items: center;
  width: 100%;
  gap: 5px;
  display: flex;
  margin-top: 10px;
}

.categories__list {
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  width: 85%;
  flex-direction: column;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.category.edit {
  padding-bottom: 3px;
}
.category.edit > .category__edit-form {
  display: contents;
}
.category.edit > .category__name {
  display: none;
}
.category.edit > .category__action {
  display: none;
}
.category.edit > .category__count {
  display: none;
}

.hide {
  display: none;
}

.category__name {
  font-size: 20px;
  font-family: Lora;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.category__count {
  padding-right: 20px;
  font-size: 20px;
  font-family: Lora;
}

.category__action {
  display: flex;
  gap: 10px;
}
.category__action > button {
  width: 95%;
  display: block;
  margin: 5px auto;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  font-weight: 700;
}

.category__delete {
  background-color: red;
}

.category__edit {
  background-color: #0ba23d;
}

.category__edit-form {
  display: none;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links__header {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Lora";
  font-weight: 700;
}

.links__items {
  margin-top: 20px;
}
.links__items > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.link__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link__input {
  flex: 1 1 auto;
  border: 1px solid #d8d7d7;
  border-radius: 6px;
  background: none;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Lora";
  outline: none;
  pointer-events: none;
}
.link__input.active {
  pointer-events: all;
}

.link__edit {
  background-color: #0ba23d;
  border: none;
  border-radius: 6px;
  align-self: center;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

.link__save {
  background-color: #0ba23d;
  border: none;
  border-radius: 6px;
  align-self: center;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 996px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .content__items {
    display: contents;
  }
  .category {
    flex-direction: column;
  }
  .categories__add {
    width: 100%;
  }
  .input__block {
    flex-direction: column;
  }
  .categories__form {
    margin: 5px;
  }
  .categories__list {
    margin-inline: 5px;
    width: auto;
  }
}