@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&family=Russo+One&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: Lora;
  font-size: 12px;
  background-color: #f5f5f5;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  background: url("../images/background-image.png") no-repeat center center/100% auto;
  background-color: #ffffff;
  background-size: cover;
}

.header-inner {
  background-color: rgba(0, 0, 0, 0.3568627451);
}

.header__menu {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  padding-right: 10px;
  padding-left: 10px;
}

.logo-wrapper {
  flex-grow: 1;
}

.menu__logo {
  font-family: "Russo One";
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.header__menu-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__burger {
  display: none;
}

.menu__items {
  display: flex;
  gap: 25px;
}

.menu__link {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vertical-line {
  height: 20px;
  border-left: 1px solid rgb(255, 255, 255);
}

.social__items {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  flex-direction: row;
}

.social__image {
  height: 20px;
}

.menu__search-bar {
  z-index: 3;
  display: flex;
  align-items: center;
}

.menu__search-form {
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__search-input {
  min-width: 10vw;
  max-width: 15vw;
  height: 25px;
  padding-left: 10px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 12px;
  transition: all ease 0.3s;
}

.menu__search-input:focus {
  background-color: #dddddd;
  width: 20vw;
  max-width: 20vw;
}

.menu__search-submit {
  width: 30px;
  height: 30px;
  background: url("../images/search-light.png") no-repeat;
  background-position: -10%;
  background-size: 30px;
  border: none;
  border-radius: 12px;
  transition: all ease 0.3s;
}

.menu__search-submit:hover {
  background-color: rgba(255, 255, 255, 0.5568627451);
}

.menu__search-submit:active {
  background-size: 35px;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  max-width: 60%;
  padding-bottom: 5%;
  padding-left: 50px;
}

.theme {
  display: flex;
  gap: 10px;
}

.theme__name {
  padding: 5px 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3725490196);
  border-radius: 8px;
}

.text-header {
  font-size: 36px;
  font-weight: 700;
}

.content__description {
  font-size: 18px;
  font-weight: 400;
}

.content__date {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .menu__socials {
    display: none;
  }
  .vertical-line.social {
    display: none;
  }
}
@media (max-width: 910px) {
  .logo-wrapper {
    z-index: 3;
  }
  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all ease 0.3s;
  }
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #ffffff;
  }
  .header__burger::before {
    top: 0;
    transition: all ease 0.3s;
  }
  .header__burger::after {
    bottom: 0;
    transition: all ease 0.3s;
  }
  .header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .vertical-line.items {
    display: none;
  }
  .menu__nav {
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    padding: 80px 10px 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4901960784);
    transition: all ease 0.3s;
  }
  .menu__nav.active {
    top: 0;
  }
  .menu__items {
    display: block;
  }
  .menu__item {
    padding-bottom: 30px;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu__login-button {
    z-index: 3;
    font-size: 20px;
  }
  body.lock {
    overflow: hidden;
  }
}
@media (max-width: 670px) {
  .menu__nav {
    padding-top: 150px;
  }
  .menu__search-bar {
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 70px;
    padding: 80px 10px 0;
    overflow: auto;
    transition: all ease 0.3s;
  }
  .menu__search-bar.active {
    top: 0;
    padding-top: 70px;
  }
  .menu__search-input {
    width: 100px;
    max-width: 400px;
    height: 25px;
    padding-left: 10px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 12px;
    transition: all ease 0.3s;
  }
  .vertical-line.user {
    display: none;
  }
  .menu__search-input:focus {
    width: 80vw;
    max-width: 400px;
  }
}
body {
  display: flex;
  flex-direction: column;
}

body.lock {
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__header {
  text-align: center;
  font-size: 32px;
  margin: 20px 0 0 0;
}

.search__form {
  display: flex;
  width: 75%;
  gap: 10px;
  margin: 20px 0 0;
}

.search__input {
  width: 70%;
  border-radius: 20px;
  border: 1px solid #2a2a2a;
  font-size: 24px;
  padding: 5px 10px;
}

.search__submit-button {
  width: 30%;
  display: block;
  padding: 9px;
  color: #090909;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: none;
  background-color: rgba(25, 25, 25, 0.1803921569);
  transition: all 0.3s ease 0s;
}
.search__submit-button:hover {
  background-color: #000000;
  color: #fff;
}

.response__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.user__item, .work__item {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  width: 75%;
  gap: 30px;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.user__img, .work__img {
  height: 70px;
  width: 70px;
  overflow: hidden;
}
.user__img > img, .work__img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user__values {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.user__name {
  text-align: start;
  max-width: 300px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
}

.user__email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500;
  width: 500px;
  text-align: start;
  line-height: normal;
}

.work-title, .user-title {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.footer {
  padding: 50px 0 0;
  background-color: #ffffff;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 0 10px;
}

.footer__page-links > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.footer__page-links-header {
  font-size: 20px;
  font-weight: 700;
}

.footer__page-link {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  transition: all ease 0.3s;
}
.footer__page-link:hover {
  padding-left: 5px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-bottom: 50px;
}

.footer__social-item {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.footer__socials-header {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.footer__social-link {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  transition: all ease 0.3s;
}
.footer__social-link:hover {
  padding-left: 5px;
}

.footer__copy {
  padding: 20px;
  background-color: #363945;
}

.footer__copy-text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 458px) {
  .footer__page-links {
    margin-bottom: 20px;
  }
}