@import 'import.scss';
//=============header============
@import '_header.scss';
//=============header============
body{
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.article {
display: flex;
flex-direction: column;
align-items: center;
padding: 25px 5px;
margin: 0 10px;
}
.article__header {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-left: 10px;
}
.article__name {
  font-size: 36px;
  font-weight: 700;
}
.artice__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.article__author-info {
  display: flex;
  gap: 10px;
  align-items: center;
  >img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
}
.article__author {
  font-size: 16px;
}
.article__time {
  font-size: 14px;
}
.article__body {
  margin: 15px 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.article__article{
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.article__text{
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  >p{
    line-height: 1.5;
    font-size: 16px;
  }

}

.article__comments {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article__my-comment-field {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;

}
.comment__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items:start;
  margin: 0 auto;
  width: 95%;

}
.comment__label {
  font-size: 16px;
  font-weight: 700;
}
.comment__content {
  width: 100%;
  max-height: 12vh;
  min-height: 8vh;
  font-size: 16px;
  font-family: Lora;
  padding: 5px;
  resize: none;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
.comment__send{
  width: 20%;
  display: block;
  padding: 9px;
  color: #090909;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: none;
  background-color: rgba(25,25,25,.1803921569);
  transition: all .3s ease 0s;
  &:hover{
    background-color: #000;
    color: #fff;
  }
}
.comments__header{
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  padding-left: 10px;
}
.article__all-comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 98%;
  margin: 10px auto;
}
.article__comment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment__user-information {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment__user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.comment__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.comment__user-name {
  font-size: 14px;
}
.comment__created-at {
  font-size: 14px;
}
.comment__text {
  font-size: 16px;
  width: 99%;
  margin: 5px auto 0;
}

.article__nav{
   width: 30em;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #eaeaea;
}
.article__nav-header {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
}

.article__nav-body {
  margin-top: 20px;


}
img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
strong{
  font-weight: 700;
}
.article__nav-item{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}
.article__nav-link{
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.article__nav-created-at{
  font-size: 14px;
  padding-bottom: 5px;
}
.article__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.article__time {
  font-size: 14px;
}
.views__info{
  display: flex;
  align-items: center;
  gap: 10px;
  >img{
    height: 25px;
  }
}
.article__views {
  font-size: 16px;
}

.comment__delete{
  cursor: pointer;
  background-color: red;
  border: none;
  margin-left: auto;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.delete-img{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.article__likes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
}

.article__likes-button{
  border: none;
  background: none;
  cursor: pointer;
  height: 60px;
  width: 60px;

  >img{
    height: 50px;
    width: 50px;
  }
  &:hover{
    opacity: 0.5;
  }
  &:active{
    >img{
      width: 45px;
      height: 45px;
    }
  }
}
.article__likes-count {
  font-size: 30px;
}

@media (max-width: 910px){
  .article__nav{
    display: none;
  }
  .article__article{
    width: auto;
  }
}
//========main===========
//========main end========
//========footer==========
@import '_footer.scss';
//========footer end======
